<div>
	<form ng-submit="guardar()">
		<div>
			<label>Dispositivo</label>
			<select name="selectDispositivo" id="selectDispositivo"
      		ng-options="d.nombre for d in dispositivos"
      		ng-model="solicitud.dispositivoSeleccionado"></select>
      				<p>Tu escogiste: {{solicitud.dispositivoSeleccionado.nombre}}</p>
					<p>Caracteristicas: {{solicitud.dispositivoSeleccionado.caracteristicas}}</p>
		</div>		
		<div>
			<label>Fecha inicio:</label>
			<input type="datetime-local" id="fechaInicio" name="fechaInicio" ng-model="solicitud.fechaInicio"
       		placeholder="yyyy-MM-dd HH:mm:ss"  required="required" />
		</div>
		<div>
			<label>Fecha fin:</label>
			<input type="datetime-local" id="fechaFin" name="fechaFin" ng-model="solicitud.fechaFin" pattern="yyyy-MM-dd HH:mm:ss"
       		placeholder="yyyy-MM-dd HH:mm:ss" required="required" />
		</div>
		<div>	
			<label>Motivo</label>
			<input type="text" ng-model="solicitud.motivo"/>
		</div>	

	
		<input type="submit" value="Guardar"/>
		
	</form>
</div>
