<div>
	<!-- Dropdown Structure -->
	<ul id="dropdown2" class="dropdown-content">
	  <li class="divider"></li>
	  <li><a href="#!">Cerrar sesión</a></li>
	</ul>
	<nav>
	  <div class="nav-wrapper teal darken-4">
	    <a href="#" class="brand-logo left">SISTEMA DE PRESTAMOS</a>
	    <ul class="right hide-on-small-and-down">
	      <li ng-click="logout()"><a href="#"><i class="material-icons right">settings</i>Cerrar sesión</a></li>
	    </ul>
	  </div>
	</nav>
</div>
<div class="container">
	<h3>Nueva solicitud</h3>
	<div class="row">
		<form ng-submit="guardar()">
			<div class="input-field col s12 m6">
				<select name="selectDispositivo" id="selectDispositivo" style="display: block"
	      		ng-options="d.nombre for d in dispositivos"
	      		ng-model="solicitud.dispositivoSeleccionado">
	      		<option value="" disabled="disabled" selected="selected">Seleccione un dispositivo</option>
	      		</select>
			</div>	
			<label for="disabled">Caracteristicas del dispositivo</label>	
			<div class="input-field col s12 m6">
				
				<input disabled value="{{solicitud.dispositivoSeleccionado.caracteristicas}}" type="text" class="validate">
				 
			</div>
			
			<div class="input-field col s12">
				<label >Fecha inicio:</label>
			</div>
			<div class="input-field col s12">
				<div class="input-field col s6">
					<input type="datetime-local" id="fechaInicio" ng-model="solicitud.fechaInicio"
			       		placeholder="yyyy-MM-dd HH:mm"  required="required" />	
				</div>     		
			</div>
			
			<div class="input-field col s12">
				<label>Fecha fin:</label>
			</div>
			<div class="input-field col s12">
				<div class="input-field col s6">
					<input type="datetime-local" id="fechaFin" name="fechaFin" ng-model="solicitud.fechaFin" pattern="yyyy-MM-dd HH:mm:ss"
	       		placeholder="yyyy-MM-dd HH:mm" required="required" />
				</div>     		
			</div>

			<div class="input-field col s12">	
				<input id="motivo" type="text" ng-model="solicitud.motivo"/>
				<label for="motivo">Motivo</label>
			</div>	
	
		
			<input class="btn right" type="submit" value="Guardar"/>
			<div>
				<table class="highlight">
			        <thead>
			          <tr>
			              <th data-field="nombre">Dispositivo solicitado</th>
			              <th data-field="inicio">Fecha inicio</th>
			              <th data-field="fin">Fecha fin</th>
			              <th data-field="estado">Estado</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat="solicitud in solicitudes">
			            <td>{{solicitud.id.dispositivo.nombre}}</td>
			            <td>{{solicitud.id.fechaInicio}}</td>
			            <td>{{solicitud.id.fechaFin}}</td>
			            <td>{{convertirEstado($index)}}</td>
			          </tr>
			        </tbody>
		    	</table>
			</div>	
		</form>
	</div>
</div>
