<div>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li class="divider"></li>
	  <li><a href="#!">Cerrar sesión</a></li>
	</ul>
	<nav>
	  <div class="nav-wrapper teal darken-4">
	    <a href="#" class="brand-logo left">SISTEMA DE PRESTAMOS</a>
	    <ul class="right hide-on-small-and-down">
	      <li ng-click="logout()"><a href="#"><i class="material-icons right">settings</i>Cerrar sesión</a></li>
	    </ul>
	  </div>
	</nav>
</div>
<div class="container">
	<h3>Solicitudes</h3>
	<table class="highlight">
        <thead>
          <tr>
          	<th data-field="nombre">Nombre del usuario</th>
          	<th data-field="correo">Correo del usuario</th>
            <th data-field="dispositivo">Dispositivo solicitado</th>
            <th data-field="inicio">Inicio del prestamo</th>
            <th data-field="fin">Fin del prestamo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="solicitud in solicitudes">
          	<td>{{solicitud.id.usuario.nombre}} {{solicitud.id.usuario.apellido}}</td>
          	<td>{{solicitud.id.usuario.correo}}</td>
            <td>{{solicitud.id.dispositivo.nombre}}</td>
            <td>{{solicitud.id.fechaInicio}}</td>
            <td>{{solicitud.id.fechaFin}}</td>
            <td><button class="btn waves-effect waves-light" type="submit" ng-click="rechazarSolicitud(solicitud)">Rechazar</button></td>
          </tr>
        </tbody>
   	</table>
</div>